<% include partials/header.ejs %>
<main role="main" class="container"></main>
<div class="starter-template">
    <h1>Tabuada</h1>
    <p class="lead">Tabuada de um número de 0 a 100.<br></p>
</div>
</main>
<% include partials/footer.ejs %>