<% include partials/header.ejs %>
<main role="main" class="container"></main>
<div class="starter-template">
    <h1>Tabuada do número <%= num %> </h1>
        <table>
            <% for (let i=1;i<=100;i++) { %>
                <tr>
                    <td><%= num  %></td>
                    <td>x</td>
                    <td><%= i %></td>
                    <td>=</td>
                    <td><%= (num*i) %></td>
                </tr>
            <% } %>  
        </table>
</div>
</main>
<% include partials/footer.ejs %>